 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 245px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 543px;
  height: 313px;
  margin: -89px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 987px;
  margin: -623px auto -24px;
}

.u-section-1 .u-image-1 {
  min-height: 553px;
  background-image: url("images/dfgggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 195px 0 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 553px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1;
  margin: 47px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 65px auto 0 12px;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 12px auto 0 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -49px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 848px;
    margin-top: -573px;
    margin-bottom: 42px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
  }

  .u-section-1 .u-shape-2 {
    width: 432px;
    height: 239px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 636px;
    margin-top: -499px;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-shape-1 {
    width: 270px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 440px;
    margin-bottom: -4px;
  }

  .u-section-1 .u-image-1 {
    min-height: 567px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 26px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 170px;
  }

  .u-section-1 .u-shape-2 {
    width: 220px;
    height: 374px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 272px;
    margin-top: -633px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-image-1 {
    min-height: 211px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-group-1 {
  min-height: 511px;
  height: auto;
  width: 1145px;
  margin: 60px -4px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px 13px 0 535px;
}

.u-section-2 .u-image-1 {
  width: 340px;
  height: 340px;
  object-position: 0% 50%;
  background-image: url("images/WhatsAppImage2023-02-03at11.14.56.jpeg");
  background-position: 50% 50%;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: -334px 0 0 535px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 81px 336px 0 auto;
  padding: 20px 46px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-group-1 {
    min-height: 502px;
    margin-bottom: 4px;
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -58px;
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 85px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -405px;
    margin-left: 430px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 34px;
    margin-right: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-2 .u-group-1 {
    min-height: 862px;
    margin-bottom: 60px;
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 426px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -399px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 791px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 380px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 360px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -373px;
    margin-right: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 73px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1091px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 61px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 625px;
  background-image: url("images/WhatsAppImage2023-02-03at11.08.31.jpeg");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 670px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 50px;
}

.u-section-3 .u-group-1 {
  width: 463px;
  background-image: none;
  min-height: 519px;
  margin: 30px 25px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  grid-auto-rows: 100%;
  margin: 50px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 176px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 40px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 40px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 40px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-group-1 {
    width: 423px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 144px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 717px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 356px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1672px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 611px;
}

.u-section-4 .u-group-1 {
  width: 1057px;
  min-height: 506px;
  height: auto;
  margin: 35px 30px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-group-2 {
  width: 607px;
  min-height: 376px;
  background-image: none;
  height: auto;
  margin: 65px 183px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 7px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 520px;
    margin-top: -313px;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    width: 520px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-group-2 {
    width: 320px;
    margin-top: -200px;
  }

  .u-section-4 .u-video-1 {
    width: 320px;
    height: 180px;
  }
}